/* Image style */
#scrollUp {
    background-color: #101D5C;
    background-image: url("../images/top.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    right: 20px;
    bottom: 20px;
    width: 36px;
    /* Width of image */
    height: 36px;
    /* Height of image */
    text-indent: -99999999px;
    box-sizing: border-box;
    border: 11px solid #101D5C;
    border-radius: 20%;
    transition: all 0.3s;
    box-shadow: 0px 0px 34px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {

    #scrollUp {
        width: 30px;
        height: 30px;
        border: 10px solid #101D5C;

    }
}